.App {
  font-family: 'Fjalla One', sans-serif;
}

.main-nav {
  background: white;
  transition: all 0.5s ease-in-out;
  &.open {
    height: 260px;
  }
  &.close {
    height: 0;
  }
  .menu {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu-item {
      margin: 0;
      padding: 5px 0;
      width: 200px;
      a {
        display: block;
        color: black;
        margin: 0;
        padding: 10px 0;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease-out;
        text-transform: uppercase;
        font-weight: bold;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  height: 60px;
  transition: all 0.3s ease-out;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 960px) {
    height: 100px;
  }
  @media screen and (min-width: 1200px) {
    height: 120px;
  }
  .app-logo {
    margin-left: 40px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    font-weight: normal;
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
    @media screen and (min-width: 960px) {
      font-size: 27px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }
  .nav-open {
    margin-right: 40px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: all 0.3s ease-out;
    &:hover {
      font-size: 30px;
    }
  }
}

.home-hero {
  background: black;
  color: white;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  @media screen and (min-width: 768px) {
    height: 360px;
  }
  @media screen and (min-width: 960px) {
    height: 480px;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
  blockquote {
    margin: 0;
    padding: 0;
    width: 75%;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
    @media screen and (min-width: 960px) {
      // height: 480px;
    }
    @media screen and (min-width: 1200px) {
      width: 65%;
    }
    p {
      margin-top: 0;
      font-size: 18px;
      line-height: 1.4;
      @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.5;
      }
      @media screen and (min-width: 960px) {
        font-size: 36px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 48px;
      }
    }
  }
}

.who-we-are {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 960px) {
    padding: 80px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 100px 0;
  }
  .section-header {
    background: black;
    color: white;
    width: 40%;
    border-top-right-radius: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    .section-icon {
      width: 64px;
      height: 64px;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 96px;
        height: 96px;
      }
      @media screen and (min-width: 960px) {
        width: 128px;
        height: 128px;
      }
      @media screen and (min-width: 1200px) {
        height: 150px;
        width: 150px;
      }
      img {
        max-width: 100%;
      }
    }
    .section-title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: normal;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
      @media screen and (min-width: 960px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 27px;
      }
    }
  }
  .entry {
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: 768px) {
      padding: 0 60px;
    }
    @media screen and (min-width: 960px) {
      padding: 0 80px;
    }
    @media screen and (min-width: 1200px) {
      padding: 0 100px 0 120px;
    }
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-align: justify;
      line-height: 1.5;
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.6;
      }
      @media screen and (min-width: 960px) {
        font-size: 18px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 20px;
      }
    }
  }
}

.our-services {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 960px) {
    padding: 80px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 100px 0;
  }
  .section-header {
    background: black;
    color: white;
    width: 40%;
    border-top-left-radius: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    .section-icon {
      width: 64px;
      height: 64px;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 96px;
        height: 96px;
      }
      @media screen and (min-width: 960px) {
        width: 128px;
        height: 128px;
      }
      @media screen and (min-width: 1200px) {
        height: 150px;
        width: 150px;
      }
      img {
        max-width: 100%;
      }
    }
    .section-title {
      margin: 10px 0 0 0;
      padding: 0;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: normal;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
      @media screen and (min-width: 960px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 27px;
      }
    }
  }
  .entry {
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: 768px) {
      padding: 0 60px;
    }
    @media screen and (min-width: 960px) {
      padding: 0 80px;
    }
    @media screen and (min-width: 1200px) {
      padding: 0 100px 0 120px;
    }
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-align: justify;
      line-height: 1.5;
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.6;
      }
      @media screen and (min-width: 960px) {
        font-size: 18px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 20px;
      }
    }
  }
}

.clients-loved-these {
  padding: 0 40px;
  @media screen and (min-width: 768px) {
    padding: 0 60px;
  }
  @media screen and (min-width: 960px) {
    padding: 0 80px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 100px;
  }
  .love-list {
    .list-item {
      width: 50%;
      font-size: 27px;
      @media screen and (min-width: 768px) {
        font-size: 30px;
      }
      @media screen and (min-width: 960px) {
        font-size: 36px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 48px;
      }
      &:nth-of-type(odd) {
        margin-left: 50%;
      }
      h3 {
        text-align: left;
        font-size: 16px;
        margin: 0;
        padding: 0;
        position: relative;
        top: -7px;
        font-weight: normal;
        @media screen and (min-width: 768px) {
          font-size: 18px;
          top: -10px;
        }
        @media screen and (min-width: 960px) {
          font-size: 24px;
          top: -16px;
        }
        @media screen and (min-width: 1200px) {
          font-size: 27px;
        }
      }
      p {
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        position: relative;
        top: -16px;
        font-family: sans-serif;
        @media screen and (min-width: 768px) {
          font-size: 13px;
          top: -18px;
        }
        @media screen and (min-width: 960px) {
          font-size: 14px;
          top: -20px;
        }
        @media screen and (min-width: 1200px) {
          font-size: 16px;
          top: -24px;
        }
      }
    }
  }
}

.founders {
  .image-grid {
    display: flex;
    .image-wrapper {
      flex: 1;
      position: relative;
      overflow: hidden;
      filter: grayscale(.8);
      -webkit-filter: grayscale(.8);
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(0,0,0,.2);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      &:hover {
        animation: bloom ease-in-out .75s forwards;
        &:before {
          animation: circle .75s;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
  @keyframes bloom {
    0% {
      filter: grayscale(.8);
    }
    40% {
      filter: grayscale(.5);
    }
    100% {
      filter: grayscale(0);
    }
  }
  @keyframes circle {
    0% {
      opacity: .5;
      background: rgba(213,156,34,.2);
      
    }
    40% {
      opacity: 1;
      background: rgba(213,34,160,.2);
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }

  .section-header {
    background: black;
    display: inline-block;
    margin-top: 20px;
    .section-title {
      color: white;
      margin: 0;
      padding: 15px 40px;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 2px;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
      @media screen and (min-width: 960px) {
        font-size: 22px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }

  .entry {
    margin: 0;
    padding: 20px 40px;
    text-align: justify;
    font-size: 12px;
    line-height: 1.5;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 960px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }
}

.what-we-live-by {
  .section-header {
    margin-top: 20px;
    text-align: right;
    .section-title {
      background: black;
      color: white;
      margin: 0;
      padding: 15px 40px;
      display: inline-block;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 2px;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
      @media screen and (min-width: 960px) {
        font-size: 22px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }
  .icons-list-wrapper {
    margin-top: 40px;
    padding: 0 40px;
    .icons-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      .list-item {
        flex: 1;
        width: 30%;
        text-align: center;
        margin: 0;
        padding: 0;
        img {
          display: block;
          max-width: 100%;
          margin: 0 auto 10px auto;
          height: 48px;
          width: 48px;
          @media screen and (min-width: 768px) {
            height: 64px;
            width: 64px;
          }
          @media screen and (min-width: 960px) {
            height: 72px;
            width: 72px;
          }
          @media screen and (min-width: 1200px) {
            height: 90px;
            width: 90px;
          }
        }
        strong {
          text-align: center;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 1.5px;
          @media screen and (min-width: 768px) {
            font-size: 16px;
          }
          @media screen and (min-width: 960px) {
            font-size: 18px;
          }
          @media screen and (min-width: 1200px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.why-choose-us {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-top: 40px;
  border-top-right-radius: 50px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: white;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .section-header {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      height: 4px;
      width: 50%;
      background: white;
      top: 50%;
      margin-top: -2px;
    }
    .section-title {
      text-transform: uppercase;
      font-size: 16px;
      text-align: right;
      width: calc(50% - 40px);
      font-weight: normal;
      letter-spacing: 2px;
      @media screen and (min-width: 768px) {
        font-size: 18px;
        width: calc(50% - 80px);
      }
      @media screen and (min-width: 960px) {
        font-size: 24px;
        width: calc(50% - 120px);
      }
      @media screen and (min-width: 1200px) {
        font-size: 30px;
        width: calc(50% - 160px);
      }
    }
  }
  .section-content {
    display: flex;
    align-items: center;
    padding: 40px;
    position: relative;
    &:after {
      position: absolute;
      display: block;
      content: '';
      background: white;
      height: 40px;
      width: 40px;
      bottom: 0;
      left: 0;
      border-top-right-radius: 20px;
      @media screen and (min-width: 768px) {
        height: 60px;
        width: 60px;
        border-top-right-radius: 30px;
      }
      @media screen and (min-width: 960px) {
        height: 80px;
        width: 80px;
        border-top-right-radius: 40px;
      }
      @media screen and (min-width: 1200px) {
        height: 80px;
        width: 80px;
        border-top-right-radius: 40px;
      }
    }
    .icon-wrap {
      text-align: center;
      width: 50%;
      img {
        max-width: 64px;
        @media screen and (min-width: 768px) {
          max-width: 96px;
        }
        @media screen and (min-width: 960px) {
          max-width: 128px;
        }
        @media screen and (min-width: 1200px) {
          max-width: 240px;
        }
      }
    }
    .details-wrap {
      width: 50%;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          h4 {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 1.5px;
            @media screen and (min-width: 768px) {
              font-size: 16px;
            }
            @media screen and (min-width: 960px) {
              font-size: 18px;
            }
            @media screen and (min-width: 1200px) {
              font-size: 20px;
            }
          }
          p {
            font-size: 12px;
            font-family: sans-serif;
            @media screen and (min-width: 768px) {
              font-size: 13px;
            }
            @media screen and (min-width: 960px) {
              font-size: 14px;
            }
            @media screen and (min-width: 1200px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}