.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  height: 60px;
  transition: all 0.3s ease-out;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 960px) {
    height: 100px;
  }
  @media screen and (min-width: 1200px) {
    height: 120px;
  }
  .app-logo {
    margin-left: 40px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
    @media screen and (min-width: 960px) {
      font-size: 27px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }
  .nav-open {
    margin-right: 40px;
    padding: 0;
    background: none;
    color: white;
    border: 0;
  }
}

.home-hero {
  background: black;
  color: white;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  @media screen and (min-width: 768px) {
    height: 360px;
  }
  @media screen and (min-width: 960px) {
    height: 480px;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
  blockquote {
    margin: 0;
    padding: 0;
    width: 75%;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
    @media screen and (min-width: 960px) {
      // height: 480px;
    }
    @media screen and (min-width: 1200px) {
      width: 65%;
    }
    p {
      margin-top: 0;
      font-size: 18px;
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
      @media screen and (min-width: 960px) {
        font-size: 36px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 48px;
      }
    }
  }
}

.who-we-are {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 960px) {
    padding: 80px 0;
  }
  @media screen and (min-width: 960px) {
    padding: 100px 0;
  }
  .section-header {
    background: black;
    color: white;
    width: 40%;
    border-top-right-radius: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 960px) {
      padding: 80px 0;
    }
    @media screen and (min-width: 960px) {
      padding: 100px 0;
    }
    .section-icon {}
    .section-title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
      @media screen and (min-width: 960px) {
        font-size: 24px;
      }
      @media screen and (min-width: 960px) {
        font-size: 27px;
      }
    }
  }
  .entry {
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: 768px) {
      padding: 0 60px;
    }
    @media screen and (min-width: 960px) {
      padding: 0 80px;
    }
    @media screen and (min-width: 960px) {
      padding: 0 100px 0 120px;
    }
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-align: justify;
      line-height: 1.2;
      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
      }
      @media screen and (min-width: 960px) {
        font-size: 18px;
        line-height: 1.3;
      }
      @media screen and (min-width: 960px) {
        font-size: 24px;
        line-height: 1.5;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
